player-connection-mode=Listen
player-connection-guid=1861928667
player-connection-debug=0
player-connection-project-name=Ascent
player-connection-ip=192.168.0.181
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=fce308f85fc747a3b8ba48d4f4878aff
